* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.nodes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
}

.node {
    width: calc(50% - 10px);
    background-color: #8a8686;
    color: white;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.node:hover {
    background-color: #736f6f;
}

.node h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.node p {
    margin-bottom: 10px;
}

.sidebar {
    width: 25%;
}

.average-readings, .control-status {
    background-color: #8a8686;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.average-readings h2, .control-status h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .nodes-container, .sidebar {
        width: 100%;
    }

    .nodes-container {
        flex-direction: column;
    }

    .node {
        width: 100%;
    }
}
