body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.bay {
    margin: 20px;
    text-align: center;
    cursor: pointer;
    flex: 1 1 calc(20% - 40px); /* Adjusting width to fit 5 per row with margins */
    box-sizing: border-box;
    opacity: 0.3; /* Default dimmed state */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.bay img {
    width: 180px;
    height: 180px;
}

.bay-name {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.bay-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Ensure full width */
}

.bay-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping within the row */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bay.expanded .bay-data {
    display: flex;
}

.dimmed {
    background-color: #002d22; /* Darker color for dimmed bays */
}
